{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

<div class="ui stackable grid">
    <div class="twelve wide column">
        {{ headers.default('workouse_referral_marketing_plugin.ui.dashboard'|trans, 'home', 'workouse_referral_marketing_plugin.ui.referral_of_your_store'|trans) }}
    </div>
</div>
