{% extends '@SyliusAdmin/layout.html.twig' %}
{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'workouse_referral_marketing_plugin.ui.dashboard'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {% include '@WorkouseReferralMarketingPlugin/admin/Dashboard/_header.html.twig' %}

    {% include '@WorkouseReferralMarketingPlugin/admin/Dashboard/_statistics.html.twig' %}

    <div class="ui one column stackable grid">
        <div class="column">
            {{ render(url('workouse_referral_marketing_admin_partial_customer_latest', {'count': 5})) }}
        </div>
    </div>
{% endblock %}
